body {
  color: #DDD;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  align-items: center;
  background-position: left;
  background-attachment: fixed;
  background-color: #121212;
  min-width: 480px;
  min-height: 720px;
  max-height: 720px;
}

a {
  color: #CBF;
  white-space: nowrap;
  transition: color 0.2s 0.02s;
}

a:hover {
  color: #5EF;
}

p {
  color: inherit;

  position: relative;
  padding-left: 10px;
  padding-right: 20px;
  max-width: 480px;
  transition: color 0.2s 0.02s;
  transform: skew(0deg,2deg);
}

p:hover {
  color: #FFF;
}

ul {
  transform: skew(0deg,2deg);
  padding-top: 8px;
}

hr {
  border-color: #222;
  border-width: 2px;
  border-style: dashed;

  margin-top: -0px;
  margin-bottom: -8px;
  margin-left: 0px;
  margin-right: 0px;
  transform: skew(0deg,2deg);
}

b {
  font-size: 22px;
}

img {
  mix-blend-mode: normal;
  background: #777;
  width: 100%;
  max-width: 480px;
  max-height: 480px;
  border-radius: 12px;
}

div {
  background: rgb(60,60,60);
  border-radius: 16px;

  position: fixed;
  text-align: left;

  transform: skew(0deg,-2deg);
}

div.title {
  background: transparent;
  color: rgba(255,255,255,1);
  font-size: 22px;
  font-weight: 600;

  white-space: nowrap;

  top: 12px;
  left: 4px;
}

div.sidebar {
  background: rgba(90,90,90,0.9);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

  top: 120px;
  left: 0px;
  width: 210px;
}

div.content {
  background: linear-gradient(-90deg, rgba(30,30,30,00.9) 0%, rgba(80,80,80,1) 75%);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 4px;
  position: absolute;
  
  top: 28px;
  left: 220px;
  right: 0px;

  min-height: 480px;
}

div.footer {
  color: #777;
  text-align: center;    
  
  background: rgba(30,30,30,1);
  border-radius: 0px;
  padding: 3px;

  bottom: 0px; 
  left: 0%;
  right: 0%;
  transform: skew(0deg,0deg);
}
